<body background="http://i.imgur.com/kAW6J.jpg" >
<font color="white" face="Arial Black">
<center>

<h1>EPIC CAT BATTLE!!!!</h1>
<h2>Sign in to play<h2>
<!--PERFORM ACTION ON SPECIFIED URL-->
<form action="/names" method="post">
<!--PLAYER 1 NAME INPUT-->
  <lable for="player_1_name">
    Player 1 name
    <input type="text" name="player_1_name">
  </label>
<!--PLAYER 2 NAME INPUT-->
  <label for="player_2_name">
    Player 2 name
    <input type="text" name="player_2_name">
  </label>
<!--SUBMIT BOX-->
  <input type="submit" value="Submit">
</form>

</center>
</font>
</body>
